<!-- <ng-scrollbar style="height: 100vh;" #scrollbar> -->
<loading #loadingComp></loading>
<div>
    <app-live-search></app-live-search>
    <nav-menu></nav-menu>
  </div>
<!-- </ng-scrollbar> -->

<div class="routerWrapper" #routerContainer>
    <router-outlet></router-outlet>
    
</div>


<!-- <loading #loadingComp></loading>
<div class="app-container">
  <div class="w-100 contentsWrap">
    <app-live-search></app-live-search>
    <nav-menu></nav-menu>
    <div class="routerContainer" >

      <div class="routerWrapper" >
        <router-outlet ></router-outlet>
      </div>
      
    </div>
  </div>
  </div> -->